@{
  ViewData["Title"] = "Home Page";
}



<swiper-container>
  <swiper-slide><img src="~/images/pana.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/pana.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
</swiper-container>

<div class="container">
  <div class="row section1 mt-5">
    <div class="col-lg-5">
      <img src="~/images/21.png">
    </div>
    <div class="col-lg-5">
            <h3>Innovative Full-Stack Development Solutions</h3>
            
            <p>At Infinity Solutions, we specialize in delivering end-to-end full-stack software development solutions. From designing intuitive front-end user interfaces to building robust back-end systems, we ensure that each project is seamlessly integrated, optimized for performance, and scalable for future growth. Our team of experienced developers works with the latest technologies and frameworks to craft custom solutions tailored to meet your unique business needs. Whether it's a web application, e-commerce platform, or enterprise software, we’re dedicated to turning your vision into a reality.</p>
    </div>
  </div>

  <div class="row section1 mt-5">
    <div class="col-lg-5">
      <img src="~/images/pana.svg">
    </div>
    <div class="col-lg-5">
            <h3>Empowering Your Business with Scalable Full-Stack Technologies</h3>
            <p>Our full-stack software development service at Infinity Solutions is designed to drive your business growth by providing scalable, secure, and high-performance applications. We work closely with you to understand your goals and deliver customized solutions that meet both your current needs and future aspirations. With experience in a wide range of technologies and industries, our team can integrate front-end, back-end, and database systems into a unified solution that maximizes efficiency and minimizes costs. From initial planning and design to implementation and ongoing support, we ensure that every aspect of your software development journey is handled with professionalism and expertise.</p>
    </div>
  </div>


  <div class="section2">
        <h2>Our Latest Work</h2>
        <h5>Tell Us What You’re Passionate About?</h5><br>
    <div class="row sec2">

      <div class="col-lg-3 link-icon-sec2">
        <img src="~/images/flutter-logo.svg" alt="Flutter App">
        <div class="card-body">
          <br><center>
          <h5 class="card-title">Our Flutter Portfolio</h5><br>
                        <p class="card-text">Experience the Power of Flutter with Our Portfolio.</p>
            <br>
          
          <button type="submit" class="btn-sec2" onclick="window.location.href='@Url.Action("Flutter_page", "Home")'">Our Flutter Projects</button>
          
        </div>
      </div>

      <div class="col-lg-3 link-icon-sec2">
        <img src="~/images/website-logo.svg" alt="Web App">
        <div class="card-body">
          <br><center>
          <h5 class="card-title">Our Web Apps Portfolio</h5><br>
                        <p class="card-text">Let Us Show You Our Web Apps Masterpieces</p>
            <br>
          
          <button type="submit" class="btn-sec2" onclick="window.location.href='@Url.Action("Website_page", "Home")'">Our Web App Projects</button>
        </div>
      </div>

      <div class="col-lg-3 link-icon-sec2">
        <img src="~/images/cyber-security-logo.svg" alt="Our Security Projects">
        <div class="card-body">
          <br><center>
          <h5 class="card-title">Our Cybersecurity Portfolio</h5><br>
                        <p class="card-text">Let Us Introduce You to Our Cybersecurity Portfolio.</p>
                            
            <br>
    <button type="submit" class="btn-sec2" onclick="window.location.href='@Url.Action("Security_page", "Home")'">Our Security Projects</button>

        </div>

      </div>
    </div>
  </div>
</div>


  <div class="section3">
    <center>
        <h1>Give us some details below, and we’ll be in touch to discuss your needs.</h1>
            
    </center><br><br>
  <div class="row sec3">
    <div class="col-lg-4 sec-input-3">
      <div class="container">
      <h3>Contact Us</h3>
      <input type="text" placeholder="Name">
      <input type="number" placeholder="Phone Number">
      <input type="email" placeholder="E-mail Address">
      <input type="text" placeholder="Interested In">
      <input type="text" placeholder="Message"><br>
      <button type="submit" class="btn-sec2">Submit</button>
    </div>
    </div>
    <div class="col-lg-6 right-side-sec3"></div>
  </div>
</div>
