@{
    ViewData["Title"] = "Home Page";
}



<swiper-container>
  <swiper-slide><img src="~/images/pana.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/pana.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
</swiper-container>

<h1>h</h1>
<h2>f</h2>
<h3>f</h3>
<h4>f</h4>
<h5>f</h5>
<h6>f</h6>
<h7>f</h7>
<h1>h</h1>
<h2>f</h2>
<h3>f</h3>
<h4>f</h4>
<h5>f</h5>
<h6>f</h6>
<h7>f</h7>


