@{
  ViewData["Title"] = "Home Page";
}



<swiper-container>
  <swiper-slide><img src="~/images/pana.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/pana.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
  <swiper-slide><img src="~/images/logo.svg"></swiper-slide>
</swiper-container>

<div class="container">
  <div class="row section1 mt-5">
    <div class="col-lg-5">
      <img src="~/images/pana.svg">
    </div>
    <div class="col-lg-5">
      <h3>How to design your site footer like we did</h3>
      <p>Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec tincidunt molestie, massa nunc
        varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero ultrices mollis. In hac habitasse
        platea dictumst. Vivamus vehicula leo dui, at porta nisi facilisis finibus. In euismod augue vitae nisi
        ultricies, non aliquet urna tincidunt. Integer in nisi eget nulla commodo faucibus efficitur quis massa.
        Praesent felis est, finibus et nisi ac, hendrerit venenatis libero. Donec consectetur faucibus ipsum id gravida.
      </p>
    </div>
  </div>

  <div class="row section1 mt-5">
    <div class="col-lg-5">
      <img src="~/images/pana.svg">
    </div>
    <div class="col-lg-5">
      <h3>How to design your site footer like we did</h3>
      <p>Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec tincidunt molestie, massa nunc
        varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero ultrices mollis. In hac habitasse
        platea dictumst. Vivamus vehicula leo dui, at porta nisi facilisis finibus. In euismod augue vitae nisi
        ultricies, non aliquet urna tincidunt. Integer in nisi eget nulla commodo faucibus efficitur quis massa.
        Praesent felis est, finibus et nisi ac, hendrerit venenatis libero. Donec consectetur faucibus ipsum id gravida.
      </p>
    </div>
  </div>


  <div class="section2">
      <h2>Our Project</h2>
      <h5>What are you interested in?</h5>
    <div class="row sec2">

      <div class="col-lg-4 link-icon-sec2">
        <img src="~/images/flutter-logo.svg" alt="Flutter App">
        <div class="card-body">
          <br><center>
          <h5 class="card-title">Flutter Projects</h5><br>
          <p class="card-text">We would like to showcase our Flutter projects to you.</p>
            <br>
          <button type="button" class="btn-sec2">Flutter project</button></center>
        </div>
      </div>

      <div class="col-lg-4 link-icon-sec2">
        <img src="~/images/website-logo.svg" alt="Website App">
        <div class="card-body">
          <br><center>
          <h5 class="card-title">Website Apllication Project</h5><br>
          <p class="card-text">We would like to showcase our website projects to you.</p>
            <br>
          <button type="button" class="btn-sec2">Website project</button></center>
        </div>
      </div>

      <div class="col-lg-4 link-icon-sec2">
        <img src="~/images/cyber-security-logo.svg" alt="Our security">
        <div class="card-body">
          <br><center>
          <h5 class="card-title">Cyber Security Projrct</h5><br>
          <p class="card-text">We would like to introduce you to our projects in the field of cyber security.</p>
            <br>
          <button type="button" class="btn-sec2">our security</button></center>
        </div>

      </div>
    </div>
  </div>
</div>


  <div class="section3">
  <center><h1>Pellentesque suscipit fringilla libero eu.</h1></center>
  <div class="row sec3">
    <div class="sec-input-3">
      <h3>Contact Us</h3>
      <input type="text" placeholder="Name">
      <input type="number" placeholder="Phone number">
      <input type="email" placeholder="E-mail">
      <input type="text" placeholder="Interested in">
      <input type="text" placeholder="Message"><br>
      <button type="submit" class="btn-sec2">Submit</button>
    </div>
    <div class="col-lg-6 right-side-sec3"></div>
  </div>
</div>
