@{
    ViewData["Title"] = "Home Page";
    Layout = "Register-Layout";
}
    
    <div class="SignUpForm">
        <h1>Infinity Solutions</h1>
        <i class="fa-duotone fa-solid fa-infinity infinityicon"></i>
        <h3>Sign in</h3>
        <br>
        <input type="text" placeholder="User Name"><br>
        <input type="text" placeholder="Password"><br>
        <button type="submit" class="btn-Signin" onclick="window.location.href='@Url.Action("Index", "Home")'">
            Submit
            </button><br>
            <div class="or-line">
    <hr>
    <p>OR</p>
    <hr>
</div>
<div class="row apiinput">
    <button type="submit">
        <i class="fa fa-facebook fa-fw"></i>Login With Facebook
    </button>
    <button type="submit">
        <i class="fa fa-google fa-fw"></i>Login With Google
    </button>
    <button type="submit">
        <i class="fa fa-twitter fa-fw"></i>Login With X
    </button>
  </div>
    </div>
    

