@{
    ViewData["Title"] = "Home Page";
    Layout = "Register-Layout";
}
    
    <div class="SignUpForm">
  <h1>Infinity Solutions</h1>
  <i class="fa-duotone fa-solid fa-infinity infinityicon"></i><br>
  <h3>Sign Up</h3>

  <div class="input-row">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
  </div>
  <div class="input-row">
    <input type="number" placeholder="Phone number">
    <input type="email" placeholder="Email">
  </div>
  <div class="input-row">
    <input type="password" placeholder="Create Password">
    <input type="password" placeholder="Re-Type Password">
  </div>
  <div class="input-row">
    <input type="date" placeholder="Date of birth">
    <select name="" id="">
        <option value="" disabled selected>Select Gender</option>
        <option value="">Male</option>
        <option value="">Female</option>
    </select>
  </div>
  <br>

  <button type="submit" class="btn-SignUp" onclick="window.location.href='@Url.Action("Login", "Home")'">
    Submit
  </button><br>
  <a href="@Url.Action("Login", "Home")">Already have an account?</a>
  <div class="or-line">
    <hr>
    <p>OR</p>
    <hr>
</div>
  <div class="row apiinput">
    <button type="submit">
        <i class="fa fa-facebook fa-fw"></i>Login With Facebook
    </button>
    <button type="submit">
        <i class="fa fa-google fa-fw"></i>Login With Google
    </button>
    <button type="submit">
        <i class="fa fa-twitter fa-fw"></i>Login With X
    </button>
  </div>

</div>


